@font-face {
    font-family: myFont;
    src: url(MKOCR.ttf);
  }
.logo {
    margin-top: 30px;
    color: #29712a;
    font-size: 40px;
}
.logo > *{
    font-family: myFont;
    vertical-align: middle;
    font-weight: bold;
}
.logo > img {
    height: 70px;
    margin-right: 10px;
}
.logo.sm {
    font-size: 20px;
}
.logo.sm > img {
    height: 30px;
}
