@font-face {
    font-family: myFont;
    src: url(MKOCR.ttf);
}

.logo {
    color: #29712a;
    font-size: 30px;
}

.logo>.text {
    font-family: myFont;
    font-weight: bold;
}

.logo>img {
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.logo.lg {
    font-size: 40px;
}

.logo.lg>img {
    height: 100px;
}