.card-list {
  padding: 30px 30px;
  padding-top: 0;
  white-space: nowrap;
}

.card-list>* {
  display: inline-block;
  white-space: initial;
}

.card-list>*+* {
  margin-left: 20px;
}

.vertical-scroll{
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}